.top_parallax_background_image {
  background-attachment: fixed;
  background-position: top center;
  background-repeat: no-repeat;
  background-size: 1600px 1060px;
  width: 100%;
  height: 96.063vw;
  margin-left: auto;
  margin-right: auto;
  min-height: 1537px;
  position: relative;
  @include breakpoint(1600) {
    background-size: cover;
  }
  .chevron-background-image {
    position: absolute;
    bottom: 0;
    right: 0;
    width: 52.813vw;
    height: 29.85vw;
    min-height: 477px;
    background-size: 845px 483px;
    background-position: top left;
    background-repeat: no-repeat;
    @include breakpoint(1600) {
      background-size: cover;
    }
    &.fixBackground {
      background-attachment: fixed;
      background-position: 47.188vw top;
      @include breakpoint(1600) {
        background-size: 52.813vw 30.188vw;
      }
    }

  }
  .first_chevron_set {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    height: 96.063vw;
    min-height: 1537px;
    background-size: 1600px 1537px;
    background-repeat: no-repeat;
    background-position: top center;
    position: relative;
    @include breakpoint(1600) {
      background-size: cover;
    }
  }
}

.second-section {
  background-position: top center;
  min-height: 768px;
  background-size: 1600px 768px;
  background-repeat: no-repeat;
  width: 100%;
  height: 48.063vw;
  @include breakpoint(1600) {
    background-size: cover;
  }
  &.fixBackground {
    background-attachment: fixed;
    @include breakpoint(1600) {
      background-size: 100vw 48.063vw;
    }
  }
  .second_section_gradient_chevron {
    background-position: top center;
    min-height: 768px;
    background-size: 1600px 768px;
    background-repeat: no-repeat;
    width: 100%;
    height: 48.063vw;
    @include breakpoint(1600) {
      background-size: cover;
    }
  }
}

.third-section {
  background-position: top center;
  min-height: 768px;
  background-size: 1600px 768px;
  background-repeat: no-repeat;
  width: 100%;
  height: 48.063vw;
  @include breakpoint(1600) {
    background-size: cover;
  }
  &.fixBackground {
    background-attachment: fixed;
    @include breakpoint(1600) {
      background-size: 100vw 48.063vw;
    }
  }
  .third_section_chevrons {
    background-position: top center;
    min-height: 768px;
    background-size: 1600px 768px;
    background-repeat: no-repeat;
    width: 100%;
    height: 48.063vw;
    @include breakpoint(1600) {
      background-size: cover;
    }
  }
}
.forth-section {
  background-position: top center;
  min-height: 1535px;
  background-size: 1600px 1535px;
  background-repeat: no-repeat;
  width: 100%;
  height: 95.938vw;
  @include breakpoint(1600) {
    background-size: cover;
  }
}
.fifth-section {
  background-position: top center;
  min-height: 768px;
  background-size: 1600px 768px;
  background-repeat: no-repeat;
  width: 100%;
  height: 48.063vw;
  @include breakpoint(1600) {
    background-size: cover;
  }
  &.fixBackground {
    background-attachment: fixed;
    @include breakpoint(1600) {
      background-size: 100vw 48.063vw;
    }
  }
  .fifth-section-cheveron {
    background-position: top center;
    min-height: 768px;
    background-size: 1600px 768px;
    background-repeat: no-repeat;
    width: 100%;
    height: 48.063vw;
    @include breakpoint(1600) {
      background-size: cover;
    }
  }
}
.sixth-section {
  background-position: top center;
  min-height: 2017px;
  background-size: 1600px 2017px;
  background-repeat: no-repeat;
  width: 100%;
  height: 126.063vw;
  @include breakpoint(1600) {
    background-size: cover;
  }

}
.seventh-section {
  background-position: top center;
  min-height: 768px;
  background-size: 1600px 768px;
  background-repeat: no-repeat;
  width: 100%;
  height: 48.063vw;
  @include breakpoint(1600) {
    background-size: cover;
  }
}