.placement {
  position: relative;
}

body {
  background-color: #7F7F7F;
}

.content.main {
  /*box-shadow: 0 0 14px #00719c;*/
  max-width: 1600px;
  margin-left: auto;
  margin-right: auto;
}

.menu-button {
  position: fixed;
  z-index: 100;
  cursor: pointer;
  top: 0;
  left: 0;
  width: 100%;
  height: 13.099vw;
  background-image: url("../images/mobile-menu.png");
  background-size: cover;
  background-repeat: no-repeat;
  @include breakpoint(large) {
    left: 80px;
    top: 20px;
    width: 81px;
    height: 46px;
    background-image: url("../images/menu.png");
  }
  @include breakpoint(1600) {
    left: 50%;
    margin-left: -720px;
  }
}

.light-blue-background {
  background-color: $light-blue;
}

.white-background {
  background-color: $white;
}

.backdrop_parallax_background_image {
  background-attachment: fixed;
  background-position: top center;
  background-repeat: no-repeat;
  background-size: 1600px 1060px;
  width: 100%;
  max-width: 1600px;
  height: 1060px;
  max-height: 1060px;
  overflow: hidden;
  position: fixed;
  top: 0;
 /* @include breakpoint(1600px) {
    background-size: 100vw 66.25vw;
  }*/
}

.admin-bar {
  .backdrop_parallax_background_image {
    top: 32px;
  }
}

.first-section-mobile {
  .background-image {
    background-attachment: fixed;
    background-repeat: no-repeat;
    width: 100%;
    height: 160.606vw;
    background-size: 100vw 160.606vw;
    background-position: top center;
    .chevrons {
      background-repeat: no-repeat;
      width: 100%;
      height: 160.606vw;
      background-size: cover;
      padding-top: 48.289vw;
      padding-left: 5.865vw;
      position: relative;
      .graph {
        img {
          width: 16.422vw;
          height: auto;
        }
      }
      .white-chevron {
        position: absolute;
        top: 66.569vw;
        left: 78.495vw;
        img {
          width: 15.543vw;
          height: auto;
        }
      }
      .heading {
        color: white;
        font-size: 7.820vw;
        font-weight: $font-semi-bold;
        line-height: 1;
        padding-top: 5.865vw;
      }

      .strap-line {
        color: $white;
        font-size: 4.156vw;
        line-height: 1.2;
        font-weight: $font-light;
        max-width: 72.623vw;
      }
    }
  }
}

.mobile-second-section {
  .chevrons {
    height: 198.436vw;
    width: 100%;
    background-size: cover;
    position: relative;
    background-repeat: no-repeat;
    padding-top: 12.512vw;
    padding-left: 5.865vw;
    padding-right: 9.775vw;
    .heading {
      font-size: 11.828vw;
      color: $white;
      font-weight: $font-thin;
      line-height: 1;
    }
    .content, .content p {
      font-size: 4.156vw;
      color: $white;
      font-weight: $font-light;
      line-height: 1.2;
    }
  }
}

.mobile-third-section {
  .background-image {
    width: 100%;
    background-repeat: no-repeat;
    background-position: top center;
    background-size: 100vw 71.359vw;
    &.fixBackground {
      background-attachment: fixed;
    }
    .chevrons {
      width: 100%;
      background-repeat: no-repeat;
      background-position: top center;
      background-size: 100vw 71.359vw;
      height: 192.375vw;
      padding-top: 71.359vw;
      .frame {
        position: relative;
        height: 121.016vw;
        background-repeat: no-repeat;
        background-position: top center;
        background-size: 100vw 48.876vw;
        padding-top: 13.881vw;
        padding-left: 5.865vw;
        .heading {
          font-size: 11.875vw;
          font-weight: $font-thin;
          color: $dark-blue;
          line-height: 1;
          padding-bottom: 5.865vw;
        }
        .content, .content p {
          font-size: 4.156vw;
          line-height: 1.2;
          color: $dark-blue;
          font-weight: $font-light;
        }
      }
    }
  }
}

.first-section {
  position: relative;

  .top {
    height: 767px;
    width: 100%;
  }

  .bottom {
    height: 293px;
    width: 104%;
    background-color: $light-blue;
    margin-left: -1px;
  }

  .side {
    height: 476px;
    width: 104%;
    background-color: $light-blue;
    margin-left: -1px;
  }

  .top, .bottom, .side {
    display: none;
    @include breakpoint(1600) {
      display: block;
    }
  }

  .top-chevrons {
    background-position: top center;
    background-repeat: no-repeat;
    background-size: 1600px 1060px;
    max-width: 100vw;
    width: 1600px;
    height: 1060px;
    padding-top: 234px;

    .first-section-container {
      width: 682px;
      margin-left: auto;
      margin-right: auto;
      max-width: 100%;
      position: relative;

      .heading {
        color: white;
        font-size: 48px;
        font-weight: $font-semi-bold;
        line-height: 1;
        padding-top: 28px;
      }

      .strap-line {
        color: $white;
        font-size: 21px;
        line-height: 1.2;
        font-weight: $font-light;
      }

      .white-chevron {
        position: absolute;
        left: 64.223vw;
        top: 97px;
        @include breakpoint(682) {
          left: 438px;
        }
      }
    }

    .sub-heading {
      color: $white;
      font-weight: $font-thin;
      font-size: 60px;
      line-height: 1;
      padding-top: 400px;
    }
  }

  .bottom-image {
    background-position: top center;
    background-repeat: no-repeat;
    background-size: 1600px 476px;
    max-width: 100vw;
    width: 1600px;
    height: 476px;

    &.fixBackground {
      background-attachment: fixed;
      background-position: top center;
      /*@include breakpoint(1600) {
        background-size: 100vw 29.75vw;
      }*/
    }

    .bottom-chevrons {
      background-position: top center;
      background-repeat: no-repeat;
      background-size: 1600px 476px;
      max-width: 100vw;
      width: 1600px;
      height: 476px;

      .content, .content p {
        color: $white;
        font-weight: $font-light;
        font-size: 21px;
        line-height: 25px;
      }
    }
  }
}

.second-section {
  position: relative;

  .background-image {
    background-position: top center;
    background-repeat: no-repeat;
    background-size: 1600px 768px;
    width: 100%;
    height: 768px;
    @include breakpoint(1600) {
      background-size: 100vw 48vw;
    }

    &.fixBackground {
      background-attachment: fixed;
    }

    .gradient-chevron {
      background-position: top center;
      background-repeat: no-repeat;
      background-size: 1600px 768px;
      width: 1600px;
      max-width: 100%;
      height: 768px;
      margin-left: auto;
      margin-right: auto;

      .heading {
        font-size: 60px;
        line-height: 1;
        font-weight: $font-thin;
        color: $dark-blue;
        padding-top: 65px;
        padding-left: 30px;
      }

      .content {
        padding-left: 30px;
        padding-top: 60px;
      }

      .content, .content p {
        font-size: 21px;
        color: $dark-blue;
        line-height: 1.2;
        font-weight: $font-light;
      }
    }
  }
}

.third-section {
  position: relative;
  background: linear-gradient(to right, $dark-blue 50%, $white 50%);

  .background-image {
    background-position: top center;
    background-repeat: no-repeat;
    background-size: 1600px 768px;
    width: 100%;
    max-width: 1600px;
    margin-left: auto;
    margin-right: auto;
    height: 768px;

    &.fixBackground {
      background-attachment: fixed;
    }

    .chevrons {
      background-position: top center;
      background-repeat: no-repeat;
      background-size: 1600px 768px;
      width: 100%;
      height: 768px;

      .heading {
        color: $white;
        font-size: 60px;
        line-height: 1;
        font-weight: $font-thin;
        padding-top: 65px;
      }

      .content {
        padding-top: 30px;
      }

      .content, .content p {
        color: $white;
        font-size: 21px;
        line-height: 1.2;
        font-weight: $font-light;
      }
    }
  }
}

.fifth-section {
  position: relative;
  .background-image {
    background-position: top center;
    background-repeat: no-repeat;
    background-size: 1600px 768px;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    height: 768px;

    @include breakpoint(1600) {
      background-size: 100vw 48vw;
    }

    &.fixBackground {
      background-attachment: fixed;
    }

    .chevrons {
      background-position: top center;
      background-repeat: no-repeat;
      background-size: 1600px 768px;
      width: 100vw;
      height: 768px;
      max-width: 1600px;
      margin-left: auto;
      margin-right: auto;
      .heading {
        color: $dark-blue;
        font-size: 60px;
        line-height: 1;
        font-weight: $font-thin;
        padding-top: 65px;
        padding-left: 50%;
      }

      .content {
        padding-top: 30px;
        padding-left: 50%;
      }

      .content, .content p {
        color: $dark-blue;
        font-size: 21px;
        line-height: 1.2;
        font-weight: $font-light;
      }
    }
  }
}

.sixth-section {
  position: relative;
  background: $white;
  .chevrons {
    background-position: top center;
    background-repeat: no-repeat;
    background-size: 1600px 2017px;
    width: 100%;
    max-width: 1600px;
    margin-left: auto;
    margin-right: auto;
    min-height: 2017px;
    .top {
      padding-top: 90px;
      padding-left: 5.125vw;
      @include breakpoint(1600) {
        padding-left: 82px;
      }
      .heading {
        font-size: 60px;
        font-weight: $font-thin;
        color: $dark-blue;
        line-height: 1;
      }
      .sub-heading {
        padding-top: 25px;
        font-size: 21px;
        line-height: 1.2;
        color: $dark-blue;
        font-weight: $font-light;
      }
      .bullets, .bullets ul, .bullets ul li {
        font-size: 21px;
        font-weight: $font-light;
        color: $dark-gray;
        line-height: 1.2;
      }
      .bullets {
        padding-top: 60px;
        ul {
          list-style: none;
        }

        ul {
          margin-left: -16px;
          li {
            position: relative;
            padding-left: 2em;
            margin-bottom: 1em;
            background-image: url("/wp-content/uploads/2019/10/Frame008-Video-Title-Arrow-CROPPED.svg");
            background-repeat: no-repeat;
            background-position: 0 4px;
            background-size: 12px 20px;
            &:first-child {
              color: $dark-blue;
            }
            &:nth-child(2) {
              margin-left: 60px;
            }
            &:nth-child(3) {
              margin-left: 120px;
            }
          }
        }
      }
      .video {
        padding-top: 26px;
        padding-right: 8.75vw;
        padding-left: 5.625vw;
        @include breakpoint(1600){
          padding-right: 140px;
          padding-left: 90px;
        }
        .shadow {
          box-shadow: 5px 5px 14px #00719c;
        }

      }
    }
    .middle {
      min-height: 768px;
    }
    .bottom {
      padding-top: 60px;
    }
  }
}

.seventh-section {
  position: relative;
  background: $white;
  .chevrons {
    background-position: top center;
    background-repeat: no-repeat;
    background-size: 1600px 768px;
    width: 100%;
    max-width: 1600px;
    margin-left: auto;
    margin-right: auto;
    height: 768px;
    padding-top: 40px;
    .left-line {
      max-width: 420px;
      line-height: 1;
      font-size: 30px;
      color: $white;
      font-weight: $font-thin;
      padding-top: 15px;
      padding-bottom: 15px;
      border-top: 1px solid $white;
      &:last-of-type {
        border-bottom: 1px solid $white;
      }
      &.active {
        font-weight: $font-semi-bold;
      }
    }
    .link-list {
      margin-left: 300px;
      list-style: none;
      line-height: 15px;
      li {
        max-width: 256px;
        border-top: 1px solid $white;
        padding-top: 15px;
        padding-bottom: 15px;
        line-height: 15px;
        a {
          line-height: 15px;
          color: $white;
          font-weight: $font-light;
          text-transform: uppercase;
          font-size: 15px;
          position: relative;
          &:hover {
            color: $dark-blue;
            &:before {
              content: " ";
              display: block;
              position: absolute;
              top: 50%;
              margin-top: -12px;
              left: -20px;
              width: 13px;
              height: 23px;
              background-image: url(../images/arrow.png);
              background-repeat: no-repeat;
            }
          }
        }
      }
      &:last-child {
        border-bottom: 1px solid $white;
      }
    }
    .logo {
      padding-right: 80px;
    }
    .footer-text {
      font-size: 18px;
      line-height: 1.4;
      font-weight: $font-semi-bold;
      color: $white;
      padding-top: 35px;
    }
  }
}

.forth-section {
  position: relative;
  background: $white;

  .background-image {
    background-position: top center;
    background-repeat: no-repeat;
    background-size: 1600px 1535px;
    width: 100%;
    max-width: 1600px;
    margin-left: auto;
    margin-right: auto;
    height: 1535px;

    &.fixBackground {
      background-attachment: fixed;
    }

    .left {
      padding-top: 90px;
      max-width: 390px;

      .heading {
        color: $dark-blue;
        font-weight: $font-thin;
        font-size: 60px;
        line-height: 1;
      }

      .bullets {
        color: $grey;
        font-weight: $font-light;
        font-size: 21px;
        line-height: 1.2;

        ul {
          line-height: 1.2;

          li {
            margin-bottom: 10px;
          }
        }
      }

      .icons {
        min-height: 125px;

        .icon {
          padding-top: 20px;
          padding-bottom: 20px;
          max-height: 85px;
          display: none;
          transition: opacity 0.15s ease;
          opacity: 1;

          &.faded {
            opacity: 0;
          }

          &.active {
            display: block;
          }
        }
      }
    }

    .right {
      padding-top: 110px;
      padding-left: 115px;

      .pizza-box {
        position: relative;
        width: 550px;

        .pizza {
          width: 550px;
          height: 550px;
          position: relative;

          &.animation {
            transition: transform 0.3s ease;
          }

          $slice-opacity: 0.7;

          .contrats {
            opacity: 1;
          }

          .donnees {
            opacity: $slice-opacity;
          }

          .consommations {
            opacity: $slice-opacity;
          }

          .veille {
            opacity: $slice-opacity;
          }

          &.rotate-one {
            transform: rotate(90deg);

            .contrats {
              opacity: $slice-opacity;
            }

            .donnees {
              opacity: $slice-opacity;
            }

            .consommations {
              opacity: $slice-opacity;
            }

            .veille {
              opacity: 1;
            }
          }

          &.rotate-two {
            transform: rotate(180deg);

            .contrats {
              opacity: $slice-opacity;
            }

            .donnees {
              opacity: $slice-opacity;
            }

            .consommations {
              opacity: 1;
            }

            .veille {
              opacity: $slice-opacity;
            }
          }

          &.rotate-three {
            transform: rotate(270deg);

            .contrats {
              opacity: $slice-opacity;
            }

            .donnees {
              opacity: 1;
            }

            .consommations {
              opacity: $slice-opacity;
            }

            .veille {
              opacity: $slice-opacity;
            }
          }

          &.rotate-four {
            transform: rotate(360deg);

            .contrats {
              opacity: 1;
            }

            .donnees {
              opacity: $slice-opacity;
            }

            .consommations {
              opacity: $slice-opacity;
            }

            .veille {
              opacity: $slice-opacity;
            }
          }

          .slice {
            position: absolute;
            width: 265px;
            height: 265px;
            transition: opacity 0.3s ease;
          }

          .contrats {
            top: 0;
            left: 10px;
          }

          .donnees {
            top: 10px;
            right: 0;
          }

          .consommations {
            bottom: 0;
            right: 0;
          }

          .veille {
            bottom: 0;
            left: 0;
          }
        }

        .budget {
          position: absolute;
          left: 175px;
          top: 160px;
        }
      }
    }

    .suivant {
      height: 91px;
      width: 100%;
      background-position: top center;
      background-repeat: no-repeat;
      background-size: 1600px 91px;
      margin-left: -55px;
      margin-top: -22px;
      cursor: pointer;
    }
  }

  .chart {
    max-width: 920px;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    position: relative;

    > div {
      position: absolute;
    }

    @include breakpoint(920) {
      .panel-1 {
        top: 88px;
        left: 0;
      }
      .panel-2 {
        top: 88px;
        left: 285px;
      }
      .panel-3 {
        top: 88px;
        left: 570px;
      }
      .panel-4 {
        top: 220px;
        left: 760px;
      }
      .panel-5 {
        top: 353px;
        left: 760px;
      }
      .panel-6 {
        top: 485px;
        left: 570px;
      }
      .panel-7 {
        top: 353px;
        left: 380px;
      }
      .panel-8 {
        top: 220px;
        left: 380px;
      }
      .chart-circle {
        top: 127px;
        left: 445px;
      }
      .panel-arrow-1 {
        top: 123px;
        left: 201px;
      }
      .panel-arrow-2 {
        top: 123px;
        left: 486px;
      }
      .content {
        left: 0;
        top: 456px;

        ul, p, li {
          font-size: 21px;
          line-height: 1.2;
          font-weight: $font-bold;
          color: $dark-blue;
          max-width: 351px;
        }

        ul {
          list-style: none;
        }

        ul {
          li {
            position: relative;
            padding-left: 1em;
            margin-bottom: 1em;
            &:before {
              position: absolute;
              top: 0;
              left: 0;
              content: '✓';
            }
          }
        }
      }
    }
  }
}

/*
.top_parallax_background_image {
  background-attachment: fixed;
  background-position: top center;
  background-repeat: no-repeat;
  background-size: 1600px 1060px;
  width: 100%;
  //height: 96.063vw;
  margin-left: auto;
  margin-right: auto;
  min-height: 1537px;
  position: relative;
  @include breakpoint(1600) {
    background-size: cover;
  }
  .chevron-background-image {
    position: absolute;
    bottom: 0;
    right: 0;
    width: 100%;
    //height: 29.85vw;
    min-height: 476px;
    background-size: 1600px 476px;
    background-position: top center;
    background-repeat: no-repeat;
    @include breakpoint(1600) {
      background-size: cover;
    }
    &.fixBackground {
      background-attachment: fixed;
      background-position: top center;
      @include breakpoint(1600) {
        background-size: 100vw 29.85vw;
      }
    }

  }
  .top {
    width: 100%;
    height: 768px;
  }
  .bottom {
    width: 100%;
    height: 768px;
    background-color: $light-blue;
    position: relative;
    z-index: 1;
  }
  .first_chevron_set {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    //height: 96.063vw;
    min-height: 1537px;
    background-size: 1600px 1537px;
    background-repeat: no-repeat;
    background-position: top center;
    position: relative;
    max-width: 100vw;
    width: 1600px;
    @include breakpoint(1600) {
      //background-size: cover;
    }
    .right-arrow {
      position: absolute;
      top: 332px;
      left: 56%;
      @include breakpoint(1600) {
        left: 56%;
      }
    }
  }
}

.second-section {
  background-position: top center;
  min-height: 768px;
  background-size: 1600px 768px;
  background-repeat: no-repeat;
  width: 100%;
  height: 48.063vw;
  @include breakpoint(1600) {
    background-size: cover;
  }
  &.fixBackground {
    background-attachment: fixed;
    @include breakpoint(1600) {
      background-size: 100vw 48.063vw;
    }
  }
  .second_section_gradient_chevron {
    background-position: top center;
    min-height: 768px;
    background-size: 1600px 768px;
    background-repeat: no-repeat;
    width: 100%;
    height: 48.063vw;
    @include breakpoint(1600) {
      background-size: cover;
    }
  }
}

.third-section {
  background-position: top center;
  min-height: 768px;
  background-size: 1600px 768px;
  background-repeat: no-repeat;
  width: 100%;
  height: 48.063vw;
  @include breakpoint(1600) {
    background-size: cover;
  }
  &.fixBackground {
    background-attachment: fixed;
    @include breakpoint(1600) {
      background-size: 100vw 48.063vw;
    }
  }
  .third_section_chevrons {
    background-position: top center;
    min-height: 768px;
    background-size: 1600px 768px;
    background-repeat: no-repeat;
    width: 100%;
    height: 48.063vw;
    @include breakpoint(1600) {
      background-size: cover;
    }
  }
}
.forth-section {
  background-position: top center;
  min-height: 1535px;
  background-size: 1600px 1535px;
  background-repeat: no-repeat;
  width: 100%;
  height: 95.938vw;
  @include breakpoint(1600) {
    background-size: cover;
  }
}
.fifth-section {
  background-position: top center;
  min-height: 768px;
  background-size: 1600px 768px;
  background-repeat: no-repeat;
  width: 100%;
  height: 48.063vw;
  @include breakpoint(1600) {
    background-size: cover;
  }
  &.fixBackground {
    background-attachment: fixed;
    @include breakpoint(1600) {
      background-size: 100vw 48.063vw;
    }
  }
  .fifth-section-cheveron {
    background-position: top center;
    min-height: 768px;
    background-size: 1600px 768px;
    background-repeat: no-repeat;
    width: 100%;
    height: 48.063vw;
    @include breakpoint(1600) {
      background-size: cover;
    }
  }
}
.sixth-section {
  background-position: top center;
  min-height: 2017px;
  background-size: 1600px 2017px;
  background-repeat: no-repeat;
  width: 100%;
  height: 126.063vw;
  @include breakpoint(1600) {
    background-size: cover;
  }

}
.seventh-section {
  background-position: top center;
  min-height: 768px;
  background-size: 1600px 768px;
  background-repeat: no-repeat;
  width: 100%;
  height: 48.063vw;
  @include breakpoint(1600) {
    background-size: cover;
  }
}*/
