.placement {
  position: relative;
}

.light-blue-background {
  background-color: $light-blue;
}

.backdrop_parallax_background_image {
  background-attachment: fixed;
  background-position: top center;
  background-repeat: no-repeat;
  background-size: 1600px 1060px;
  width: 100%;
  height: 1060px;
  max-height: 1060px;
  overflow: hidden;
  position: fixed;
  top: 0;
  @include breakpoint(1600px) {
    background-size: 100vw 66.25vw;
  }
}

.admin-bar {
  .backdrop_parallax_background_image {
    top: 32px;
  }
}

.first-section {
  position: relative;

  .top {
    height: 767px;
    width: 100%;
  }

  .bottom {
    height: 293px;
    width: 104%;
    background-color: $light-blue;
    margin-left: -1px;
  }

  .side {
    height: 476px;
    width: 104%;
    background-color: $light-blue;
    margin-left: -1px;
  }

  .top, .bottom, .side {
    display: none;
    @include breakpoint(1600) {
      display: block;
    }
  }

  .top-chevrons {
    background-position: top center;
    background-repeat: no-repeat;
    background-size: 1600px 1060px;
    max-width: 100vw;
    width: 1600px;
    height: 1060px;
    padding-top: 234px;

    .first-section-container {
      width: 682px;
      margin-left: auto;
      margin-right: auto;
      max-width: 100%;
      position: relative;

      .heading {
        color: white;
        font-size: 48px;
        font-weight: $font-semi-bold;
        line-height: 1;
        padding-top: 28px;
      }

      .strap-line {
        color: $white;
        font-size: 21px;
        line-height: 1.2;
        font-weight: $font-light;
      }

      .white-chevron {
        position: absolute;
        left: 64.223vw;
        top: 97px;
        @include breakpoint(682) {
          left: 438px;
        }
      }
    }

    .sub-heading {
      color: $white;
      font-weight: $font-thin;
      font-size: 60px;
      line-height: 1;
      padding-top: 400px;
    }
  }

  .bottom-image {
    background-position: top center;
    background-repeat: no-repeat;
    background-size: 1600px 476px;
    max-width: 100vw;
    width: 1600px;
    height: 476px;

    &.fixBackground {
      background-attachment: fixed;
      background-position: top center;
      /*@include breakpoint(1600) {
        background-size: 100vw 29.75vw;
      }*/
    }

    .bottom-chevrons {
      background-position: top center;
      background-repeat: no-repeat;
      background-size: 1600px 476px;
      max-width: 100vw;
      width: 1600px;
      height: 476px;

      .content, .content p {
        color: $white;
        font-weight: $font-light;
        font-size: 21px;
        line-height: 25px;
      }
    }
  }
}

.second-section {
  position: relative;

  .background-image {
    background-position: top center;
    background-repeat: no-repeat;
    background-size: 1600px 768px;
    width: 100%;
    height: 768px;
    @include breakpoint(1600) {
      background-size: 100vw 48vw;
    }

    &.fixBackground {
      background-attachment: fixed;
    }

    .gradient-chevron {
      background-position: top center;
      background-repeat: no-repeat;
      background-size: 1600px 768px;
      width: 1600px;
      max-width: 100%;
      height: 768px;
      margin-left: auto;
      margin-right: auto;

      .heading {
        font-size: 60px;
        line-height: 1;
        font-weight: $font-thin;
        color: $dark-blue;
        padding-top: 65px;
        padding-left: 30px;
      }

      .content {
        padding-left: 30px;
        padding-top: 60px;
      }

      .content, .content p {
        font-size: 21px;
        color: $dark-blue;
        line-height: 1.2;
        font-weight: $font-light;
      }
    }
  }
}

.third-section {
  position: relative;
  background: linear-gradient(to right, $dark-blue 50%, $white 50%);

  .background-image {
    background-position: top center;
    background-repeat: no-repeat;
    background-size: 1600px 768px;
    width: 100%;
    max-width: 1600px;
    margin-left: auto;
    margin-right: auto;
    height: 768px;

    &.fixBackground {
      background-attachment: fixed;
    }

    .chevrons {
      background-position: top center;
      background-repeat: no-repeat;
      background-size: 1600px 768px;
      width: 100%;
      height: 768px;

      .heading {
        color: $white;
        font-size: 60px;
        line-height: 1;
        font-weight: $font-thin;
        padding-top: 65px;
      }

      .content {
        padding-top: 30px;
      }

      .content, .content p {
        color: $white;
        font-size: 21px;
        line-height: 1.2;
        font-weight: $font-light;
      }
    }
  }
}

.forth-section {
  position: relative;
  background: $white;

  .background-image {
    background-position: top center;
    background-repeat: no-repeat;
    background-size: 1600px 1535px;
    width: 100%;
    max-width: 1600px;
    margin-left: auto;
    margin-right: auto;
    height: 1535px;

    &.fixBackground {
      background-attachment: fixed;
    }

    .left {
      padding-top: 90px;
      max-width: 390px;
      .heading {
        color: $dark-blue;
        font-weight: $font-thin;
        font-size: 60px;
        line-height: 1;
      }
      .bullets {
        color: $grey;
        font-weight: $font-light;
        font-size: 21px;
        line-height: 1.2;
        ul {
          line-height: 1.2;
          li {
            margin-bottom: 10px;
          }
        }
      }
      .icons {
        .icon {
          padding-top: 20px;
          padding-bottom: 20px;
          display: none;
          &.active {
            display: block;
          }
        }
      }
    }

    .right {
      padding-top: 110px;
      padding-left: 115px;
      .pizza-box {
        position: relative;
        width: 550px;

        .pizza {
          width: 550px;
          height: 550px;
          position: relative;
          transition: transform 0.3s ease;

          &.rotate-one {
            transform: rotate(90deg);
          }

          &.rotate-two {
            transform: rotate(180deg);
          }

          &.rotate-three {
            transform: rotate(270deg);
          }

          &.rotate-four {
            transform: rotate(360deg);
          }

          .slice {
            position: absolute;
            width: 265px;
            height: 265px;
          }

          .contrats {
            top: 0;
            left: 10px;
          }

          .donnees {
            top: 10px;
            right: 0;
          }

          .consommations {
            bottom: 0;
            right: 0;
          }

          .veille {
            bottom: 0;
            left: 0;
          }
        }

        .budget {
          position: absolute;
          left: 175px;
          top: 160px;
        }

        &:hover {
          .pizza {
            transform: rotate(90deg);
          }
        }
      }
    }
    .suivant {
      height: 91px;
      width: 100%;
      background-position: top center;
      background-repeat: no-repeat;
      background-size: 1600px 91px;
    }
  }
}

/*
.top_parallax_background_image {
  background-attachment: fixed;
  background-position: top center;
  background-repeat: no-repeat;
  background-size: 1600px 1060px;
  width: 100%;
  //height: 96.063vw;
  margin-left: auto;
  margin-right: auto;
  min-height: 1537px;
  position: relative;
  @include breakpoint(1600) {
    background-size: cover;
  }
  .chevron-background-image {
    position: absolute;
    bottom: 0;
    right: 0;
    width: 100%;
    //height: 29.85vw;
    min-height: 476px;
    background-size: 1600px 476px;
    background-position: top center;
    background-repeat: no-repeat;
    @include breakpoint(1600) {
      background-size: cover;
    }
    &.fixBackground {
      background-attachment: fixed;
      background-position: top center;
      @include breakpoint(1600) {
        background-size: 100vw 29.85vw;
      }
    }

  }
  .top {
    width: 100%;
    height: 768px;
  }
  .bottom {
    width: 100%;
    height: 768px;
    background-color: $light-blue;
    position: relative;
    z-index: 1;
  }
  .first_chevron_set {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    //height: 96.063vw;
    min-height: 1537px;
    background-size: 1600px 1537px;
    background-repeat: no-repeat;
    background-position: top center;
    position: relative;
    max-width: 100vw;
    width: 1600px;
    @include breakpoint(1600) {
      //background-size: cover;
    }
    .right-arrow {
      position: absolute;
      top: 332px;
      left: 56%;
      @include breakpoint(1600) {
        left: 56%;
      }
    }
  }
}

.second-section {
  background-position: top center;
  min-height: 768px;
  background-size: 1600px 768px;
  background-repeat: no-repeat;
  width: 100%;
  height: 48.063vw;
  @include breakpoint(1600) {
    background-size: cover;
  }
  &.fixBackground {
    background-attachment: fixed;
    @include breakpoint(1600) {
      background-size: 100vw 48.063vw;
    }
  }
  .second_section_gradient_chevron {
    background-position: top center;
    min-height: 768px;
    background-size: 1600px 768px;
    background-repeat: no-repeat;
    width: 100%;
    height: 48.063vw;
    @include breakpoint(1600) {
      background-size: cover;
    }
  }
}

.third-section {
  background-position: top center;
  min-height: 768px;
  background-size: 1600px 768px;
  background-repeat: no-repeat;
  width: 100%;
  height: 48.063vw;
  @include breakpoint(1600) {
    background-size: cover;
  }
  &.fixBackground {
    background-attachment: fixed;
    @include breakpoint(1600) {
      background-size: 100vw 48.063vw;
    }
  }
  .third_section_chevrons {
    background-position: top center;
    min-height: 768px;
    background-size: 1600px 768px;
    background-repeat: no-repeat;
    width: 100%;
    height: 48.063vw;
    @include breakpoint(1600) {
      background-size: cover;
    }
  }
}
.forth-section {
  background-position: top center;
  min-height: 1535px;
  background-size: 1600px 1535px;
  background-repeat: no-repeat;
  width: 100%;
  height: 95.938vw;
  @include breakpoint(1600) {
    background-size: cover;
  }
}
.fifth-section {
  background-position: top center;
  min-height: 768px;
  background-size: 1600px 768px;
  background-repeat: no-repeat;
  width: 100%;
  height: 48.063vw;
  @include breakpoint(1600) {
    background-size: cover;
  }
  &.fixBackground {
    background-attachment: fixed;
    @include breakpoint(1600) {
      background-size: 100vw 48.063vw;
    }
  }
  .fifth-section-cheveron {
    background-position: top center;
    min-height: 768px;
    background-size: 1600px 768px;
    background-repeat: no-repeat;
    width: 100%;
    height: 48.063vw;
    @include breakpoint(1600) {
      background-size: cover;
    }
  }
}
.sixth-section {
  background-position: top center;
  min-height: 2017px;
  background-size: 1600px 2017px;
  background-repeat: no-repeat;
  width: 100%;
  height: 126.063vw;
  @include breakpoint(1600) {
    background-size: cover;
  }

}
.seventh-section {
  background-position: top center;
  min-height: 768px;
  background-size: 1600px 768px;
  background-repeat: no-repeat;
  width: 100%;
  height: 48.063vw;
  @include breakpoint(1600) {
    background-size: cover;
  }
}*/
