.off-canvas {
  background-color: transparent;

  @include breakpoint(large) {
    padding-right: 15px;
  }

  &.is-transition-overlap {
    &.is-open {
      box-shadow: none;
      z-index: 200;
    }
  }

  .nav-menu {
    background-color: rgba(255, 255, 255, 0.9);
    box-shadow: 0 0 15px rgba($black, 0.7);
    padding-top: 25px;
    padding-bottom: 40px;
    position: relative;

    ul {
      list-style: none;
      padding-left: 20px;
      padding-right: 60px;
      max-width: 350px;
      @include breakpoint(large) {
        padding-left: 60px;
      }

      li {
        border-top: 1px solid $dark-blue;

        a {
          font-size: 13px;
          line-height: 1;
          padding-top: 20px;
          padding-bottom: 20px;
          color: $grey;
          display: block;
          position: relative;
          text-transform: uppercase;

          &.active {
            color: $dark-blue;
          }

          &:hover {
            color: $dark-blue;

            &:before {
              content: " ";
              display: block;
              position: absolute;
              top: 50%;
              margin-top: -12px;
              left: -20px;
              width: 13px;
              height: 23px;
              background-image: url(../images/arrow.png);
              background-repeat: no-repeat;
            }
          }

          &:active, &:focus {
            outline: none;
          }
        }
      }

      li:last-child {
        border-bottom: 1px solid $dark-blue;
      }
    }
  }

  .menu-logo {
    padding-left: 40px;
    padding-top: 30px;
    padding-right: 60px;
    @include breakpoint(large) {
      padding-left: 80px;
    }
    img {
      max-width: 100px;
    }

  }

  .menu-close {
    background-image: url("../images/menu-close.svg");
    width: 35px;
    height: 35px;
    background-size: contain;
    background-repeat: no-repeat;
    position: absolute;
    top: 7px;
    right: 15px;
    @include breakpoint(large) {
      right: 30px;
    }
  }
}

#first-section-waypoint-1 {
  position: relative;

  #nav-1 {
    position: absolute;
    top: 400px;
    left: 0;
  }
}

/*#second-section-waypoint-1 {
  position: relative;
  #nav-2 {
    position: absolute;
    top: 120px;
    left: 0;
  }
}*/
