.off-canvas {
  background-color: transparent;

  &.is-transition-overlap {
    &.is-open {
      box-shadow: none;
      z-index: 200;
    }
  }
  .nav-menu {
    background-color: $white;
    box-shadow: 0 0 10px rgba($black, 0.7);
    padding-top: 60px;
    padding-bottom: 100px;
    position: relative;
    ul {
      list-style: none;
      padding-left: 60px;
      padding-right: 60px;
      max-width: 350px;
      li {
        border-top: 1px solid $dark-blue;
        a {
          font-size: 15px;
          line-height: 1;
          padding-top: 20px;
          padding-bottom: 20px;
          color: $grey;
          display: block;
          position: relative;
          &.active {
            color: $dark-blue;
          }
          &:hover {
            color: $dark-blue;
            &:before {
              content: " ";
              display: block;
              position: absolute;
              top: 50%;
              margin-top: -12px;
              left: -20px;
              width: 13px;
              height: 23px;
              background-image: url(../images/arrow.png);
              background-repeat: no-repeat;
            }
          }
          &:active, &:focus {
            outline: none;
          }
        }
      }
      li:last-child {
        border-bottom: 1px solid $dark-blue;
      }
    }
  }
  .menu-close {
    background-image: url("../images/menu-close.svg");
    width: 25px;
    height: 90px;
    background-size: contain;
    background-repeat: no-repeat;
    position: absolute;
    top: 40px;
    right: 30px;
  }
}

#first-section-waypoint-1 {
  position: relative;
  #nav-1 {
    position: absolute;
    top: 400px;
    left:0;
  }
}

/*#second-section-waypoint-1 {
  position: relative;
  #nav-2 {
    position: absolute;
    top: 120px;
    left: 0;
  }
}*/
